
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
    color: cornsilk;
    background-color: darkslateblue;
}
 h3 {
    color: deeppink;
    background-color: gold;
}
.bol1 {
    background-color: burlywood;
}
.bol2 {
    background-color: chartreuse;
}
.bol-50{
    float: left;
    width: 48%;
    padding: 10px;
}
.bol-25{
    float: right;
    width: 25%;
    padding: 10px;
}
.bol-75{
    float: left;
    width: 75%;
    padding: 10px;
}